.data-management .search {
    border: 1px solid #eee;
}

.data-management .content {
    border-bottom: 1px dashed #eee;
    padding: 10px;
}

.data-management .col-md-12:last-child .content {
    border-bottom: 0;
}

.navbar-form.navbar-right:last-child {
    margin-right: 0;
}

.table {
    text-align: center;
    margin-top: 18px;
}

.table thead tr th {
    text-align: center;
}

.content label.col-md- {
    margin-right: 12px;
    width: 90px;
}
