.dudao-anpai .green {
    color: #428bca;
}

.dudao-anpai .blue {
    color: #1d943b;
}
.dudao-anpai .yellow{
    color: #f9cf07;
}
.dudao-anpai .orange {
    color: #ed9c28
}

.dudao-anpai .red {
    color: #d2322d;
}