.index #top-nav .nav.navbar-nav a {
    color: #fff;
}

.index #top-nav .nav.navbar-nav a:hover {
    color: #428bca;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca;
}

.dropdown.open > a {
    color: #428bca !important;
}

.dropdown-menu a {
    color: #333 !important;
}