.tabbable-custom .nav-tabs > li.active {
    border-bottom: 2px solid #368ee0;
    border-top: 3px solid transparent;
}

.tabbable-custom .nav-tabs > li.active > a, .tabbable-custom .nav-tabs > li.active > a:hover, .tabbable-custom .nav-tabs > li.active > a:focus {
    border: none;
}

.row {
    padding-left: 10px;
}

.row div.col-md-3 {
    background: url(../../img/dateTempalte.png) top no-repeat !important;
    /*width: 170px;*/
    height: 152px;
    /*border-left: 1px solid #e2e2e2;*/
}

.row div.col-md-3 p.f_line {
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑', 'microsoft yahei';
    margin-top: 19px;
    text-align: center;
}

.row div.col-md-3 p.s_line {
    color: #666;
    font-size: 35px;
    font-family: '微软雅黑', 'microsoft yahei';
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.row div.col-md-3 p.t_line {
    color: #787878;
    font-size: 14px;
    font-family: '微软雅黑', 'microsoft yahei';
    margin-top: 5px;
    text-align: center;
}

.row div.col-md-3 p.s_time {
    color: #666;
    font-size: 21px;
    font-family: '微软雅黑', 'microsoft yahei';
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
}

.row div.col-md-3 i.fa-bell-o {
    font-size: 30px;
    color: #fff;
}

.row div.col-md-3 i.fa-plus-square-o {
    font-size: 31px;
    color: #fff;
}

#profile .tips {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
    width: 328px;
    margin-left: 2px;
}

#profile .tips i {
    font-size: 30px;
    padding-top: 5px;
    color: #9a9999;
}

#profile .tips div {
    padding-left: 5px;
    padding-right: 5px;
}

#profile .tips p {
    padding: 10px 0;
}

#news .title {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 15px 15px 10px 15px;
    font-family: '微软雅黑';
}

.news-list {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.news-list li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;
}

.p_user_name {
    font-size: 25px;
    color: #9a9999;
    text-align: right;
}

.p_user_link {
    font-size: 12px;
    color: #9a9999;
    text-align: right;
}

#approval {
    /*background-color: #fafcff;*/
    border: 1px solid #d6e1ee;
    margin-top: 50px;
}

#approval .title {
    text-align: left;
    background: #6dc3ea;
    color: #fff;
    padding: 10px 10px;
}

#approval hr {
    margin-bottom: 5px;
}

/*#approval .news-list li {*/
    /*border: 0;*/
/*}*/

/*#approval .news-list li:nth-child(odd) {*/
    /*background: #eee;*/
/*}*/

.user-actions {
    margin-bottom: 20px;
}

.user-actions button {
    margin-right: 20px;
}

.page-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.dash-icon i {
    font-size: 20px;
    color: #fad30a;
}
.dash-icon div{
    text-align: right;
}
