.practice .nav-tips{
    float: left;
    margin-right: 20px;
    height: 38px;
    line-height: 38px;
}
.practice .thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 0;
}

.performance .title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: auto;
}