
.btn {
    margin-right: 6px;
}

hr.hr_line {
    margin: 8px 0 20px;
}

a.role_tab {
    color: #555;
    background-color: #f6f6f6;
    border-top: 2px solid #368ee0;
    display: inline-block;
}

ul.nav-pills {
    border-bottom: 1px solid #e0e0e0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    background-color: #fff;
}

.tabbable-custom .nav-tabs > li.active {
    border-bottom: 2px solid #368ee0;
    border-top: 3px solid transparent;
}

.profile-home .nav-pills {
    border: none;
}

.profile-home .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 0;
}

.profile-home hr {
    margin: 15px 0;
    border-top: 1px dashed #E0DFDF;
    border-bottom: 1px dashed #FEFEFE;
}

.profile-home .share-item {
    padding: 20px 0;
    border-bottom: 1px dashed #eee;
}

.profile-home .col-md- {
    margin-right: 12px;
    width: 90px;
    float: left;
    height: 38px;
    line-height: 38px;
}

.profile-home .photo img {
    width: 190px;
}

.profile-home .photo .thumbnail {
    margin-bottom: 10px;
}

.col-md-2 h4 {
    font-weight: bold;
}

.margiv-top-10 {
    margin-top: 40px;
    padding-left: 5px;
}

.profile-home .username {
    padding-left: 35px;
}

.user_add .page-breadcrumb.breadcrumb > li + li:before {
    display: none;
}

.announcement .title {
    padding-bottom: 20px;
    border-bottom: 1px dashed #eee;
}

.announcement .content {
    list-style: none;
}

.announcement .content li {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.messages .receive{
    border-bottom: 1px dashed #eee;
    padding: 10px;
}
.messages .receive span.total{
    line-height: 60px;
}
