/* here you can put your own css to customize and override the theme */

.header {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 70px;
    min-height: 70px;
    background: url(../../assets/img/headerbg1.png) repeat-x;
}

.header-inner h1 {
    color: #3a80c1;
    font-size: 26px;
    font-weight: 1600;
    line-height: 35px;
    font-family: "微软雅黑";
    font-weight: bold;
    letter-spacing: 4px;
    float: left;
}

.header .navbar-nav > li > a {
    padding: 25px 12px;
}

.header .navbar-nav {
    background: url(../../assets/img/headerbg.png) right no-repeat;
    margin: 0;
}

#top-nav {
    background: #368ee0;
    border-top: 4px solid #f9cf07;
}

#top-nav .collapse {
    margin-left: 125px
}

#top-nav .nav.navbar-nav a {
    color: #fff;
    font-size: 18px;
    margin-right: 25px
}

#top-nav .nav.navbar-nav a:hover {
    color: #fff;
    background-color: #f9cf07
}

#top-nav .dropdown.open > a {
    background-color: #f9cf07 !important;
    color: #fff !important;
}

#top-nav .dropdown-menu a {
    color: #333 !important;
    width: 100%;
    font-size: 14px !important
}

#top-nav .dropdown-menu a:hover, #top-nav .navbar-nav .active .dropdown-menu a:hover {
    background: #eee !important
}

#top-nav .navbar-nav .active a {
    background: #f9cf07;
}

#top-nav .navbar-nav .active .dropdown-menu a {
    background: #fff !important
}

#top-nav .more.last > a{
    margin-right: 0;
}
#top-nav .more .dropdown-menu{
    width: 400px;
    right: 0 !important;
    left: inherit;
}
#top-nav .more h4{
    margin-top: 0;
    padding:20px;
    text-align: center;
    background: #eee;
}
#top-nav .more .title{
    font-size: 20px;
    font-weight: bold;
}
#top-nav .more ul{
    list-style: none;
}


li a {
    color: #333;
}

header .navbar-nav .fa {
    color: #fcb750
}
.table {
    text-align: center;
}

.table thead tr th {
    text-align: center;
}
.table>thead>tr>th{
    vertical-align: middle;
}
.table>tbody>tr>td{
    vertical-align: middle;
}

.page-sidebar-menu {
    /*border-top: 2px solid #368ee0;*/
    padding-top: 40px;
    background: #f6f9fe;
    height: 100%;
    min-height: 760px;
}

.page-sidebar-menu > li {
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
}

ul.page-sidebar-menu > li > a {
    color: #fcb750;
    font-size: 15px;
    font-weight: 500;
}

.page-sidebar-menu > li > a i {
    font-size: 16px;
    margin-right: 10px;
    text-shadow: none;
    color: #fcb750;
}

.page-sidebar-menu .navbar-header {
    color: #2f74b4;
    font-size: 18px;
    margin: -35px 0 -30px 0px;
    font-weight: bold;
    line-height: 50px;
    width: 100%
}

.page-sidebar-menu .active {
    background: #fff;
}

/**
    pace plugin
*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.pace-progress-inner {
    position: absolute;
    height: 2px;
    -webkit-box-shadow: #29d 1px 0 6px 1px;
    -moz-box-shadow: #29d 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    width: 150px;
    right: 1px;
    -webkit-animation: pulse 2s ease-out 0s infinite;
    -moz-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite;
}

.pace-inactive {
    display: none;
    /*opacity:0*/
}

@-webkit-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: .6
    }
}

.footer {
    padding: 10px;
    border-top: 2px solid #3c94de;
    text-align: center;
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    min-height: 70px
}

.footer a {
    font-size: 15px
}

#warning_info {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 8px 35px 8px 14px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 2000;
}

button.close_btn {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close_btn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.badge {
    background-color: #f9cf07;
}

.table {
    font-size: 15px
}

.table thead tr th {
    color: #fff;
    font-size: 15px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#339de5), to(#5cbfef)); /** Chrome Safari **/
    background: -moz-linear-gradient(top, #339de5, #5cbfef); /** FireFox **/
    background: -o-linear-gradient(top, #339de5, #5cbfef); /** Opear **/
    background: -ms-linear-gradient(#339de5eee 0%, #5cbfefaaa 100%); /** IE9 IE10 **/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339de5eee', endColorstr='#5cbfefaaa', grandientType=1); /** IE7 **/
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#339de5eee', endColorstr='#5cbfefaaa', grandientType=1); /** IE8 **/
}

.ml20 {
    margin-left: 20px
}