/* here you can put your own css to customize and override the theme */

.header {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 70px;
    min-height: 70px;
}

.header .navbar-nav > li > a {
    padding: 25px 12px;
}

#top-nav {
    background: #368ee0;
}

#top-nav .nav.navbar-nav {
    margin-left: 100px;
}

.page-sidebar-menu {
    /*border-top: 2px solid #368ee0;*/
    /*margin-top: 40px;*/
    background: #fafafa;
    height: 100%;
    min-height: 760px;
}

.page-sidebar-menu > li {
    background: #fafafa;
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 70px;
}
.page-sidebar-menu .navbar-header {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    float: none;
}

.page-content {
    border-left: 1px solid #e2e2e2 !important;
    /*border-bottom: 1px solid #e2e2e2 !important;*/
}

/**
    pace plugin
*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.pace-progress-inner {
    position: absolute;
    height: 2px;
    -webkit-box-shadow: #29d 1px 0 6px 1px;
    -moz-box-shadow: #29d 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    width: 150px;
    right: 1px;
    -webkit-animation: pulse 2s ease-out 0s infinite;
    -moz-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite;
}

.pace-inactive {
    display: none;
    /*opacity:0*/
}

@-webkit-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: .6
    }
}

.tabbable-custom .nav-tabs > li.active {
    border-bottom: 2px solid #368ee0;
    border-top: 3px solid transparent;
}

.tabbable-custom .nav-tabs>li.active>a,.tabbable-custom .nav-tabs>li.active>a:hover,.tabbable-custom .nav-tabs>li.active>a:focus{
    border: none;
}

.row{
    padding-left: 10px;
}

.row div.col-md-3{
    background: url(../img/dateTempalte.png) top no-repeat !important;
    width: 170px;
    height: 152px;
    border-left: 1px solid #e2e2e2;
}

.row div.col-md-3 p.f_line{
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑','microsoft yahei';
    margin-top: 10px;
    text-align: center;
}

.row div.col-md-3 p.s_line{
    color: #666;
    font-size: 35px;
    font-family: '微软雅黑','microsoft yahei';
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.row div.col-md-3 p.t_line{
    color: #787878;
    font-size: 14px;
    font-family: '微软雅黑','microsoft yahei';
    margin-top: 5px;
    text-align: center;
}

.row div.col-md-3 p.s_time{
    color: #666;
    font-size: 21px;
    font-family: '微软雅黑','microsoft yahei';
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;
}

.row div.col-md-3 i.fa-bell-o{
    font-size: 30px;
    color: #fff;
}

.row div.col-md-3 i.fa-plus-square-o{
    font-size: 31px;
    color: #fff;
}

#profile .tips {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
    width: 328px;
    margin-left: 2px;
}

#profile .tips i {
    font-size: 30px;
    padding-top: 5px;
    color: #9a9999;
}

#profile .tips div {
    padding-left: 5px;
    padding-right: 5px;
}

#profile .tips p {
    padding: 10px 0;
}

#news{
    background-color: #fafcff;
    border: 1px solid #d6e1ee;
    /*margin-top: 90px;*/
}

#news .title {
    border-bottom: 1px dashed #eee;
    margin-bottom: 15px;
    padding: 15px 15px 10px 15px;
    font-family: '微软雅黑';
}

.news-list {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.news-list li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
}

.p_user_name{
    font-size: 25px;
    color: #9a9999;
    text-align: right;
}

.p_user_link{
    font-size: 12px;
    color: #9a9999;
    text-align: right;
}

#approval{
    background-color: #fafcff;
    border: 1px solid #d6e1ee;
    margin-top: 20px;
}


#approval .title {
    text-align: left;
    background: #6dc3ea;
    color: #fff;
    padding: 10px 10px;
}

div.dash-icon{
    margin-top: 20px;
    float: left;
    width: 48px;
    height: 48px;
    text-align: right;
}

div.dash-icon i{
    font-size: 20px;
    color: #666666;
}

#approval hr {
    margin-bottom: 5px;
}

#approval .news-list li {
    border: 0;
}

#approval .news-list li:nth-child(odd) {
    background: #eee;
}

.footer {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}

.user-actions{
    margin-bottom: 20px;
}
.user-actions button{
    margin-right: 20px;
}
.page-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}